.dropDown {
    padding: 2rem;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.btn-style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    padding: 8px;
    background-color: var(--primary);
    border-radius: 50%;
    box-shadow: 1px 2px 13px rgba(0,0,0,.6);
    margin-top: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.btn-style.clicked {
    transform: rotate(45deg);
}

.dropDown svg {
    font-size: 2.2rem;
}

.list {
    position: absolute;
    bottom: 95px;
    left: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: scale(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease-in-out;
}

.list.is-active {
    transform: scale(1);
}

.list>a {
    text-decoration: none;
    color: var(--light);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(10px);
    opacity: 0;
}

.list.is-active > a {
    transform: translateY(0);
    opacity: 1;
}

.list>a:nth-child(1) {
    transition-delay: 0.3s;
}

.list>a:nth-child(2) {
    transition-delay: 0.2s;
}

.list>a:nth-child(3) {
    transition-delay: 0.1s;
}

.dropDown>div:last-child {
    color: var(--light);
}