.plans {
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: url(../../assets/waveBaby4.svg);
    background-position: center;
    background-size: cover;
}

.plans h2 {
    text-align: center;
    color: var(--secondary);
}

.features {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    flex-wrap: wrap;
    padding: 4rem 0;

}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 2rem;
    padding: 2rem;
    width: calc(33% - 35px);
    box-shadow: 1px 2px 13px rgba(0, 0, 0, .4)
}

.plan:nth-child(odd) {
    background-color: var(--secondary);
    color: var(--primary);
}

.plan:nth-child(even) {
    background-color: var(--primary);
    color: var(--light);
    transform: scale(1.1);

}

.plan:nth-child(even) .my-plans .feature .tick>svg {
    fill: var(--secondary);
}

.feature {
    margin-top: 1rem;
}

.feature .tick>svg {
    font-size: 2rem;
    margin-right: 1rem;
    fill: var(--primary);
}

.plan>span:nth-child(1) {
    font-size: 3.5rem;
}

.plan>span:nth-child(2) {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem 0;
}

.plan>span:nth-child(3) {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 1.5rem;
}

.my-plans {
    margin-top: 1rem;
}
.my-plans>p {
    margin: 6px 0;
}
.my-plans>p>strong {
    margin-right: 6px;
}

.joinUs {
    margin-top: 10px;
}

/* Media Query */
/* min-width 991px */
@media screen and (min-width: 991px) {
    .features {
        max-width: 80%;
        margin: auto;
    }
}

/* max-width 1200px */
@media screen and (max-width: 1200px) {
    .plans {
        height: fit-content;
    }
    .plans .container {
        width: 100%;
    }
    .plan {
        width: 100%;
    }
    .features  {
        flex-direction: column;
        padding: 2rem;
    }
    .plan:nth-child(even) {
        
        transform: scale(1);
    }
    .main-text {
        font-size: 4rem;
    }
}