.hero {
    position: relative;
    height: 100vh;
}

.the-best-babyspa {
    margin-top: 2rem;
    background: #868f96;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 10rem;
    z-index: 6;
}

.the-best-babyspa>span {
    z-index: 2;
}

.the-best-babyspa>div {
    position: absolute;
    background-color: var(--primary);
    width: 8.4rem;
    height: 80%;
    left: 5px;
    border-radius: 3rem;
    z-index: 1;
}

.main-baby-photo {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.hero-text {
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 2;
    transform: translate(-70%, 50px);
}

.hero-text>h1 {
    font-size: 4.8rem;
    font-weight: 400;
    text-transform: uppercase;
}

.hero-text>p {
    font-size: 2rem;
    margin: 5rem 0;
}

.social {
    display: flex;
    justify-content: end;
    margin-right: 3rem;
    color: var(--primary);
}

.social-icon {
    font-size: 2.5rem;
    cursor: pointer;
    transition: var(--transition);
}

.social-icon:hover {
    color: #6ca39f;
}

.social span:nth-child(1) {
    font-weight: 500;
    display: flex;
    align-items: center;
}

/* Media Query max-width 576px */
@media screen and (max-width: 576px) {
    .social {
        justify-content: center;
    }

    .hero-text {
        top: 27%;
        left: 0;
        right: 0;
        margin: auto;
        transform: none;
        width: 90%;
    }

    .hero-text>p {
        margin: 3.4rem 0;
        font-weight: 500;   
    }

    .hero-text>h1 {
        font-size: 4rem;
    }

    .the-best-babyspa {
        left: 0;
        right: 0;
        margin: 4.5rem auto;
    }
}

/* Media Query max-width 375px - iPhone SE */
@media screen and (max-width: 375px) {
   
}