.hero {
    position: relative;
    height: 100vh;
    z-index: 1000;
    overflow: hidden;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(186, 147, 216, 0.1), rgba(108, 52, 131, 0.7));
    pointer-events: none;
    z-index: 1;
}


.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}


.headings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    color: var(--light);
    text-shadow: 1px 3px 10px rgb(0, 0, 0, .7);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.headings a {
    font-size: 14px;
}

.headings h1 {
    font-size: 56px;
    text-transform: uppercase;
    color: var(--light);
    text-shadow: 1px 3px 10px rgb(0, 0, 0, .7);
}

.headings p:nth-child(2) {
    font-family: var(--mainText);
    font-size: 40px;
}

.hero-main {
    display: none;
}

.the-best-babyspa {
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    margin-top: 30px;
    text-transform: uppercase;
    color: var(--light);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 10rem;
    top: 20rem;
    border: 2px solid var(--light);
    z-index: 2;
}

.the-best-babyspa>span {
    z-index: 2;
}

.the-best-babyspa>div {
    position: absolute;
    background-color: var(--primary);
    width: 8.4rem;
    height: 80%;
    left: 5px;
    border-radius: 3rem;
    z-index: 1;
}

/* Media Query max-width 768px */
@media screen and (max-width: 768px) {

    .hero-main {
        display: block;
    }

    .the-best-babyspa {
        left: 0;
        right: 0;
        margin: auto;
    }

    .headings {
        width: 85%;
        gap: 12px;
    }

    .headings h1 {
        font-size: 40px;
    }

}


/* Media Query max-width 576px */
/* @media screen and (min-width: 991px) {

    .hero-video {
        width: 100%;
    }

} */