.header {
    padding: 0 3rem;
    position: relative;
    z-index: 5;
}

.navBar {
    display: flex;
    justify-content: space-between;
}

.navBar-links {
    display: flex;
    align-items: center;
}

.navBar-links>ul {
    display: flex;
    list-style: none;
}

.navBar-links>ul>li {
    margin-right: 2rem;
}

.navBar-links>ul>li>a {
    text-decoration: none;
    color: var(--primary);
    position: relative;
}

.navBar-links>ul>li>a::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: var(--primary);
    left: 0;
    bottom: -1rem;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.navBar-links>ul>li>a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.working-hours {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.burger {
    display: none;
}




/* Media Query */
@media screen and (max-width: 1200px) {

    /* BURGER MENU */
    .burger {
        display: block;
        position: relative;
        margin-top: 8px;
        cursor: pointer;

        user-select: none;

        appearance: none;
        border: none;
        outline: none;
        background: none;
    }

    .burger span {
        display: block;
        position: relative;
        width: 35px;
        margin-bottom: 5px;
        height: 4px;
        background-color: var(--primary);
        border-radius: 6px;
        transition: 0.6s;
        transform-origin: 0 0;
    }

    .burger.is-active span {
        background-color: var(--secondary);
    }

    /* Active Burger */
    .burger.is-active span:nth-child(1) {
        transform: translate(0px, -2px) rotate(45deg);
    }

    .burger.is-active span:nth-child(3) {
        transform: translate(-3px, 4px) rotate(-45deg);
    }


    /* .burger:hover span:nth-child(2) {
    transform: translateX(15px);
    background-color: var(--primary);
    transition: 0.6s;
} */

    /* .burger:hover span {
    background-color: var(--accentsDark);
    transition: 0.6s;
} */


    /* .burger.is-active:hover span {
    background-color: var(--accentsDark);
    transition: 0.6s;
} */

    .burger.is-active span:nth-child(2) {
        transform: translateX(15px);
        opacity: 0;
    }


    .navBar-links {
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        min-height: 100vh;
        width: 60%;
        background-color: var(--primary);
        transition: 0.6s;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.9;

    }

    .navBar-links ul {
        flex-direction: column;
    }

    .navBar-links>ul>li {
        margin: 0;
    }

    .navBar-links a {
        display: block;
        width: 100%;
        margin: auto;
        max-width: 200px;
        padding: 12px 16px;
        text-align: center;
        border-radius: 30px;
        margin-bottom: 50px;
        border: 1px solid var(--secondary);
        color: var(--secondary) !important;
        font-weight: 300;
        font-style: italic;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 5px;
        transition: 0.6s;
    }

    .navBar-links.is-active {
        left: 40%;
    }

    .navBar-links a:hover {
        background-color: var(--secondary);
        color: var(--primary) !important;
        font-weight: bold;
    }
}

/* Media Query */
@media screen and (max-width: 576px) {
    .working-hours {
        display: none;
    }

    .header {
        padding: 1.5rem;
    }
}