.footer {
    background: var(--secondary);
    padding: 3rem 0;
}
.footer-wraper .logo, .footer-wraper .working-hours {
    display: none;
}

.footer-wraper .navBar {
    justify-content: center;
}
.footer-wraper>ul {
    margin-bottom: 3rem;
}

.footer-bottom {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;color: var(--dark);
}
.footer-bottom>div {
    width: calc(33% - 20px);
    height: 20rem;
    text-align: center;
}

.logo-white {
    text-align: center;
}

.logo-white>img {
    width: 120px;
}

/* footer bottom */
.footer-bottom>div {
    padding: 2rem 3rem;
}
.footer-bottom>div>ul>li>a {
    font-size: 2rem;
}

.footer-bottom>div:nth-child(1),.footer-bottom>div:nth-child(2),.footer-bottom>div:nth-child(3) {
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
}

.footer-bottom>div .social-footer a {
    font-size: 3.5rem;
    color: var(--dark);
    transition: var(--transition);
    margin-right: 0.5rem;
}

.footer-bottom>div .social-footer a:nth-child(1):hover {
    color: #1877F2;
}
.footer-bottom>div .social-footer a:nth-child(2):hover {
    color: #d62976 ;
}   

.footer-bottom ul {
    list-style: none;
}

.footer-bottom ul li {
    margin-bottom: 0.7rem;

}

.footer-bottom ul li a {
    text-decoration: none;
    color: var(--dark);
    transition: var(--transition);
}

.footer-bottom ul li a:hover {
    margin-left: 15px;
}

.footer p {
    text-align: center;
}


/* Media Query */
@media screen and (max-width: 1400px) {
    .container {
        width: 95%;
    }
}
@media screen and (max-width: 1200px) {
    .footer-bottom {
        flex-direction: column;
    }

    .footer-bottom>div {
        width: unset;
        height: unset;
        padding: 1rem 1.5rem;
    }
    .footer-bottom>div:nth-child(2)>span, .footer-bottom>div:nth-child(3)>span {
        margin-bottom: 0.7rem;
    }  

}


