* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4F8782;
  --secondary: #EAE4D9;
  --lightGray: #E0E1DB;
  --dark: #000;
  --light: #fff;
  --textColor: #242c2b;
  --backgroundColor: #FFFDFC;

  --mainText: 'Cormorant', serif;
  --secondaryText: 'Montserrat', sans-serif;
  --babyPlan: linear-gradient(210.41deg, #4F8782 1.14%, #62b0dd 100.75%);

  --transition: .3s linear;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--mainText);
}

p,
div,
span {
  font-family: var(--secondaryText);
}

.App {
  background-color: var(--backgroundColor);
}

.container {
  width: 80%;
  margin: auto;
}

.relative {
  position: relative;
}