.programs {
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
}

.our-programs {
    display: flex;
    gap: 2rem;
}
.our-programs .program {
    background: var(--secondary);
    padding: 3rem;
    border-radius: 1.5rem;
    width: 95% !important;
}

.program:hover {
    background: var(--babyPlan);
    color: var(--light);
}
.program:hover svg {
    fill: var(--light);
    
}

.program svg {
    fill: var(--primary);
    font-size: 3.5rem;
}

.program h3 {
    font-size: 2.5rem;    
    margin: 1rem 0;
}
